OPENCLAW_CONFIG_DIR=PLACEHOLDER
OPENCLAW_WORKSPACE_DIR=PLACEHOLDER
OPENCLAW_GATEWAY_PORT=PLACEHOLDER
OPENCLAW_BRIDGE_PORT=PLACEHOLDER
OPENCLAW_GATEWAY_BIND=PLACEHOLDER
OPENCLAW_GATEWAY_TOKEN=PLACEHOLDER
OPENCLAW_IMAGE=PLACEHOLDER
OPENCLAW_EXTRA_MOUNTS=PLACEHOLDER
OPENCLAW_HOME_VOLUME=PLACEHOLDER
OPENCLAW_DOCKER_APT_PACKAGES=PLACEHOLDER
OPENAI_API_KEY=PLACEHOLDER
GH_TOKEN=PLACEHOLDER
